import pandas as pd
import numpy as np
import math

In [17]:
data = pd.read_csv('data-logistic.csv',header=None)

In [18]:
data

     0         1          2
0   -1 -0.663827  -0.138526
1    1  1.994596   2.468025
2   -1 -1.247395   0.749425
3    1  2.309374   1.899836
4    1  0.849143   2.407750
..  ..       ...        ...
200  1  4.245176   3.053931
201  1  2.437935   1.357804
202 -1 -1.876638   1.533398
203  1 -6.824446 -13.934211
204 -1  0.001805   0.865147

[205 rows x 3 columns]

In [19]:
X = data.iloc[:,1:]

In [20]:
y = data.iloc[:,:1]
import math

In [21]:
X

            1          2
0   -0.663827  -0.138526
1    1.994596   2.468025
2   -1.247395   0.749425
3    2.309374   1.899836
4    0.849143   2.407750
..        ...        ...
200  4.245176   3.053931
201  2.437935   1.357804
202 -1.876638   1.533398
203 -6.824446 -13.934211
204  0.001805   0.865147

[205 rows x 2 columns]

In [44]:
y

     0
0   -1
1    1
2   -1
3    1
4    1
..  ..
200  1
201  1
202 -1
203  1
204 -1

[205 rows x 1 columns]

In [49]:
def fw1(w1, w2, y, X, k, C):
    l = len(y)
    S = 0
    for i in range(0, l):
        S += y[i] * X[1][i] * (1.0 - 1.0 / (1.0 + np.exp(-y[i] * (w1*X[1][i] + w2*X[2][i]))))

    return w1 + (k * (1.0 / l) * S) - k * C * w1


def fw2(w1, w2, y, X, k, C):
    l = len(y)
    S = 0
    for i in range(0, l):
        S += y[i] * X[2][i] * (1.0 - 1.0 / (1.0 + np.exp(-y[i] * (w1*X[1][i] + w2*X[2][i]))))

    return w2 + (k * (1.0 / l) * S) - k * C * w2


# 3. Реализуйте градиентный спуск для обычной и L2-регуляризованной (с коэффициентом регуляризации 10)
# логистической регрессии. Используйте длину шага k=0.1. В качестве начального приближения используйте вектор (0, 0).

def grad(y, X, C, w1=0.0, w2=0.0, k=0.1, delta=1e-6):
    i = 0
    i_max = 10000
    
    while i < i_max:
        i += 1
        print (i)
        
        w1_new, w2_new = fw1(w1, w2, y, X, k, C), fw2(w1, w2, y, X, k, C)
        e = np.sqrt((w1_new - w1) ** 2 + (w2_new - w2) ** 2)

        if e <= delta:
            break
        w1, w2 = w1_new, w2_new

    return w1_new, w2_new

# 4. Запустите градиентный спуск и доведите до сходимости (евклидово расстояние между векторами весов на соседних
# итерациях должно быть не больше 1e-5). Рекомендуется ограничить сверху число итераций десятью тысячами.

w1, w2 = grad(y, X, 0.0)
rw1, rw2 = grad(y, X, 10.0)

1

KeyError: 1

In [50]:
def fw2(w1, w2, y, X, k, C):
    l = len(y)
    S = 0
    for i in range(0, l):
        S += y[i] * X[2][i] * (1.0 - 1.0 / (1.0 + math.exp(-y[i] * (w1*X[1][i] + w2*X[2][i]))))

    return w2 + (k * (1.0 / l) * S) - k * C * w2

In [38]:
def grad(y, X, C, w1=0.0, w2=0.0, k=0.1, delta=1e-6):
    i = 0
    i_max = 10000
    
    while i < i_max:
        i += 1
        print (i)
        
        w1_new, w2_new = fw1(w1, w2, y, X, k, C), fw2(w1, w2, y, X, k, C)
        e = math.sqrt((w1_new - w1) ** 2 + (w2_new - w2) ** 2)

        if e <= delta:
            break
        w1, w2 = w1_new, w2_new

    return w1_new, w2_new

In [39]:
a = 1e-6

In [40]:
a==1/1000000

True

In [43]:
w1, w2 = grad(y, X, 0.0)
rw1, rw2 = grad(y, X, 10.0)

1

TypeError: cannot convert the series to <class 'float'>

In [6]:
data_class = pd.read_csv('tion.csv')

In [7]:
data_class

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [75]:
x = data_class.iloc[:,1:]

In [12]:
y = data_class.iloc[:,:1]

In [13]:
x

NameError: name 'x' is not defined

In [78]:
x.loc[5]

pred    1
Name: 5, dtype: int64

In [68]:
x = np.array(x)

In [70]:
x[2]

array([1], dtype=int64)

array([[0]], dtype=int64)

ValueError: Can only compare identically-labeled Series objects

In [8]:
data = data_class

In [100]:
np.array(data.loc[0].true)

array(1, dtype=int64)

In [105]:
np.array(data.loc[0].true) == np.array(data.loc[0].pred)

False

In [113]:
np.array(data.loc[0].true)==1

True

In [14]:
tp,tn,fp,fn = 0,0,0,0
for i in range(len(x)):
    if np.array(data.loc[i].true)==1 and np.array(data.loc[i].pred)==1:
        tp+=1
    if np.array(data.loc[i].true)==1 and np.array(data.loc[i].pred)==0:
        tn+=1
    if np.array(data.loc[i].true)==0 and np.array(data.loc[i].pred)==1:
        fp+=1
    if np.array(data.loc[i].true)==0 and np.array(data.loc[i].pred)==0:
        fn+=1

NameError: name 'x' is not defined

In [118]:
print(tp,fp,fn,tn)

43 59 64 34

In [10]:

clf_table = {'tp': (1, 1), 'fp': (0, 1), 'fn': (1, 0), 'tn': (0, 0)}
for name, res in clf_table.items():
    clf_table[name] = len(data[(data['true'] == res[0]) & (data['pred'] == res[1])])

print(1, '{tp} {fp} {fn} {tn}'.format(**clf_table))

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

1 43 34 59 64

In [120]:
a_s = accuracy_score(y,x)

In [121]:
a_s

0.535

In [123]:
p_s,r_s,f_s = precision_score(y,x), recall_score(y,x), f1_score(y,x)

In [124]:
print(a_s,p_s,r_s,f_s)

0.535 0.5584415584415584 0.4215686274509804 0.48044692737430167

In [125]:
data_2 = pd.read_csv('scores.csv')

In [126]:
data_2

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [129]:
from sklearn.metrics import roc_auc_score as ras

In [130]:
y = data_2.iloc[:,:1]

In [131]:
y

     true
0       0
1       1
2       0
3       1
4       1
..    ...
195     0
196     0
197     1
198     0
199     0

[200 rows x 1 columns]

In [143]:

for i in range(4):
    print(ras(y,data_2.iloc[:,i+1:i+2]))

0.719187675070028
0.7086834733893557
0.6351540616246498
0.6919267707082833

In [144]:
score_log, score_svm, score_knn, score_tree = 0.719187675070028, 0.7086834733893557, 0.6351540616246498, 0.6919267707082833

score_log

In [145]:
y

     true
0       0
1       1
2       0
3       1
4       1
..    ...
195     0
196     0
197     1
198     0
199     0

[200 rows x 1 columns]

In [146]:
score_log

0.719187675070028

In [149]:
from sklearn.metrics import precision_recall_curve as prc

In [150]:
for i in range(4):
    print(prc(y,data_2.iloc[:,i+1:i+2]))

(array([0.49746193, 0.49489796, 0.49230769, 0.49484536, 0.49740933,
       0.49479167, 0.4973822 , 0.49473684, 0.4973545 , 0.5       ,
       0.5026738 , 0.5       , 0.4972973 , 0.5       , 0.50273224,
       0.50549451, 0.50828729, 0.51111111, 0.51396648, 0.51685393,
       0.51977401, 0.52272727, 0.52571429, 0.52873563, 0.53179191,
       0.53488372, 0.5380117 , 0.53529412, 0.53846154, 0.54166667,
       0.54491018, 0.54819277, 0.55151515, 0.54878049, 0.55214724,
       0.54938272, 0.55279503, 0.55625   , 0.55974843, 0.55696203,
       0.56050955, 0.56410256, 0.56129032, 0.56493506, 0.56862745,
       0.56578947, 0.56953642, 0.56666667, 0.5704698 , 0.57432432,
       0.57142857, 0.57534247, 0.57241379, 0.57638889, 0.58041958,
       0.58450704, 0.58156028, 0.58571429, 0.58992806, 0.58695652,
       0.59124088, 0.59558824, 0.6       , 0.59701493, 0.60150376,
       0.60606061, 0.60305344, 0.6       , 0.60465116, 0.609375  ,
       0.61417323, 0.61111111, 0.616     , 0.62096774, 0.62601626,
       0.62295082, 0.61983471, 0.625     , 0.6302521 , 0.62711864,
       0.62393162, 0.62068966, 0.62608696, 0.62280702, 0.61946903,
       0.61607143, 0.61261261, 0.60909091, 0.6146789 , 0.62037037,
       0.61682243, 0.62264151, 0.62857143, 0.625     , 0.63106796,
       0.62745098, 0.62376238, 0.62      , 0.62626263, 0.63265306,
       0.62886598, 0.63541667, 0.63157895, 0.63829787, 0.64516129,
       0.65217391, 0.64835165, 0.65555556, 0.65168539, 0.64772727,
       0.65517241, 0.6627907 , 0.67058824, 0.67857143, 0.68674699,
       0.69512195, 0.7037037 , 0.7       , 0.70886076, 0.71794872,
       0.72727273, 0.72368421, 0.72      , 0.72972973, 0.7260274 ,
       0.72222222, 0.71830986, 0.72857143, 0.72463768, 0.73529412,
       0.73134328, 0.72727273, 0.73846154, 0.734375  , 0.74603175,
       0.75806452, 0.75409836, 0.75      , 0.76271186, 0.75862069,
       0.75438596, 0.75      , 0.74545455, 0.74074074, 0.75471698,
       0.75      , 0.74509804, 0.76      , 0.7755102 , 0.77083333,
       0.76595745, 0.76086957, 0.77777778, 0.79545455, 0.81395349,
       0.83333333, 0.85365854, 0.875     , 0.87179487, 0.86842105,
       0.86486486, 0.86111111, 0.85714286, 0.85294118, 0.84848485,
       0.84375   , 0.83870968, 0.83333333, 0.82758621, 0.82142857,
       0.81481481, 0.80769231, 0.8       , 0.79166667, 0.7826087 ,
       0.77272727, 0.76190476, 0.75      , 0.78947368, 0.77777778,
       0.76470588, 0.75      , 0.8       , 0.78571429, 0.76923077,
       0.83333333, 0.81818182, 0.8       , 0.77777778, 0.75      ,
       0.71428571, 0.66666667, 0.6       , 0.75      , 1.        ,
       1.        , 1.        , 1.        ]), array([1.        , 0.98979592, 0.97959184, 0.97959184, 0.97959184,
       0.96938776, 0.96938776, 0.95918367, 0.95918367, 0.95918367,
       0.95918367, 0.94897959, 0.93877551, 0.93877551, 0.93877551,
       0.93877551, 0.93877551, 0.93877551, 0.93877551, 0.93877551,
       0.93877551, 0.93877551, 0.93877551, 0.93877551, 0.93877551,
       0.93877551, 0.93877551, 0.92857143, 0.92857143, 0.92857143,
       0.92857143, 0.92857143, 0.92857143, 0.91836735, 0.91836735,
       0.90816327, 0.90816327, 0.90816327, 0.90816327, 0.89795918,
       0.89795918, 0.89795918, 0.8877551 , 0.8877551 , 0.8877551 ,
       0.87755102, 0.87755102, 0.86734694, 0.86734694, 0.86734694,
       0.85714286, 0.85714286, 0.84693878, 0.84693878, 0.84693878,
       0.84693878, 0.83673469, 0.83673469, 0.83673469, 0.82653061,
       0.82653061, 0.82653061, 0.82653061, 0.81632653, 0.81632653,
       0.81632653, 0.80612245, 0.79591837, 0.79591837, 0.79591837,
       0.79591837, 0.78571429, 0.78571429, 0.78571429, 0.78571429,
       0.7755102 , 0.76530612, 0.76530612, 0.76530612, 0.75510204,
       0.74489796, 0.73469388, 0.73469388, 0.7244898 , 0.71428571,
       0.70408163, 0.69387755, 0.68367347, 0.68367347, 0.68367347,
       0.67346939, 0.67346939, 0.67346939, 0.66326531, 0.66326531,
       0.65306122, 0.64285714, 0.63265306, 0.63265306, 0.63265306,
       0.62244898, 0.62244898, 0.6122449 , 0.6122449 , 0.6122449 ,
       0.6122449 , 0.60204082, 0.60204082, 0.59183673, 0.58163265,
       0.58163265, 0.58163265, 0.58163265, 0.58163265, 0.58163265,
       0.58163265, 0.58163265, 0.57142857, 0.57142857, 0.57142857,
       0.57142857, 0.56122449, 0.55102041, 0.55102041, 0.54081633,
       0.53061224, 0.52040816, 0.52040816, 0.51020408, 0.51020408,
       0.5       , 0.48979592, 0.48979592, 0.47959184, 0.47959184,
       0.47959184, 0.46938776, 0.45918367, 0.45918367, 0.44897959,
       0.43877551, 0.42857143, 0.41836735, 0.40816327, 0.40816327,
       0.39795918, 0.3877551 , 0.3877551 , 0.3877551 , 0.37755102,
       0.36734694, 0.35714286, 0.35714286, 0.35714286, 0.35714286,
       0.35714286, 0.35714286, 0.35714286, 0.34693878, 0.33673469,
       0.32653061, 0.31632653, 0.30612245, 0.29591837, 0.28571429,
       0.2755102 , 0.26530612, 0.25510204, 0.24489796, 0.23469388,
       0.2244898 , 0.21428571, 0.20408163, 0.19387755, 0.18367347,
       0.17346939, 0.16326531, 0.15306122, 0.15306122, 0.14285714,
       0.13265306, 0.12244898, 0.12244898, 0.1122449 , 0.10204082,
       0.10204082, 0.09183673, 0.08163265, 0.07142857, 0.06122449,
       0.05102041, 0.04081633, 0.03061224, 0.03061224, 0.03061224,
       0.02040816, 0.01020408, 0.        ]), array([0.07073872, 0.07492334, 0.08668825, 0.09673339, 0.10160274,
       0.10850624, 0.11765768, 0.13781334, 0.1387966 , 0.13961478,
       0.15190177, 0.15200061, 0.15733163, 0.15876748, 0.16073298,
       0.1615582 , 0.16654799, 0.16870812, 0.173184  , 0.17884898,
       0.18570984, 0.19601518, 0.21195512, 0.21235997, 0.21360642,
       0.2177899 , 0.2281761 , 0.23908033, 0.25524525, 0.25935972,
       0.26019936, 0.27141442, 0.27419836, 0.27559374, 0.27591229,
       0.27647238, 0.28207412, 0.28255693, 0.28297781, 0.29683666,
       0.29957253, 0.30069636, 0.30578731, 0.31066455, 0.31212154,
       0.31391685, 0.3142305 , 0.32071136, 0.32251018, 0.3304837 ,
       0.3435888 , 0.3452384 , 0.35819307, 0.36018868, 0.36661136,
       0.36969124, 0.37385575, 0.38231536, 0.38520436, 0.39172819,
       0.40863332, 0.41374898, 0.41758012, 0.42145995, 0.42459981,
       0.42553822, 0.42802822, 0.43658125, 0.43795397, 0.44154691,
       0.44660932, 0.45395143, 0.45726078, 0.46825773, 0.4704386 ,
       0.47607135, 0.48109823, 0.48618687, 0.488522  , 0.48878149,
       0.48895693, 0.49100999, 0.49145141, 0.49358104, 0.49421931,
       0.50471574, 0.50679689, 0.510993  , 0.5113262 , 0.51274539,
       0.51492384, 0.52761944, 0.5327331 , 0.5351787 , 0.53604793,
       0.53780316, 0.53946648, 0.54080628, 0.54292878, 0.543229  ,
       0.5461615 , 0.55256035, 0.55356673, 0.55749424, 0.55852593,
       0.56302904, 0.56343104, 0.56794447, 0.5723972 , 0.57380112,
       0.58059146, 0.58299764, 0.5923627 , 0.59586703, 0.60753108,
       0.60912592, 0.61375105, 0.62442231, 0.62481916, 0.62768102,
       0.63459445, 0.64177515, 0.64374142, 0.65993208, 0.67956276,
       0.68259759, 0.68383231, 0.68715539, 0.6941206 , 0.7007809 ,
       0.7115411 , 0.71177385, 0.71211439, 0.71215399, 0.72003289,
       0.72581952, 0.72858527, 0.73429557, 0.73703359, 0.73942573,
       0.74709905, 0.74721073, 0.75099215, 0.75331653, 0.75543479,
       0.76611861, 0.76832476, 0.769101  , 0.77290241, 0.77507726,
       0.77972638, 0.77981982, 0.78358071, 0.7841785 , 0.78428865,
       0.78445976, 0.79537178, 0.79957375, 0.80196649, 0.80425575,
       0.8062029 , 0.81464206, 0.81484204, 0.81570781, 0.81688824,
       0.81804067, 0.82241971, 0.82616958, 0.83804808, 0.84185258,
       0.84335336, 0.84354614, 0.85025228, 0.86317444, 0.87341456,
       0.88077269, 0.88327788, 0.88336326, 0.88517243, 0.88837014,
       0.89502481, 0.8993922 , 0.90220874, 0.90372708, 0.90527026,
       0.91302463, 0.91810515, 0.9212357 , 0.92454172, 0.92631736,
       0.9315004 , 0.9363421 , 0.95696631, 0.96108126, 0.96355926,
       0.96451478, 0.97307949]))
(array([0.49246231, 0.48989899, 0.49238579, 0.48979592, 0.49230769,
       0.49484536, 0.49740933, 0.5       , 0.4973822 , 0.49473684,
       0.49206349, 0.49468085, 0.4973262 , 0.5       , 0.4972973 ,
       0.5       , 0.50273224, 0.50549451, 0.50828729, 0.51111111,
       0.51396648, 0.51685393, 0.51977401, 0.52272727, 0.52571429,
       0.52298851, 0.52601156, 0.52906977, 0.53216374, 0.53529412,
       0.53846154, 0.54166667, 0.54491018, 0.54819277, 0.54545455,
       0.54878049, 0.55214724, 0.55555556, 0.55279503, 0.55      ,
       0.54716981, 0.55063291, 0.5477707 , 0.54487179, 0.5483871 ,
       0.55194805, 0.55555556, 0.55921053, 0.56291391, 0.56666667,
       0.5704698 , 0.57432432, 0.57142857, 0.57534247, 0.57931034,
       0.58333333, 0.58741259, 0.5915493 , 0.58865248, 0.59285714,
       0.58992806, 0.5942029 , 0.59124088, 0.58823529, 0.59259259,
       0.59701493, 0.59398496, 0.59090909, 0.59541985, 0.6       ,
       0.60465116, 0.6015625 , 0.60629921, 0.6031746 , 0.608     ,
       0.61290323, 0.6097561 , 0.60655738, 0.61157025, 0.60833333,
       0.60504202, 0.60169492, 0.60683761, 0.61206897, 0.6173913 ,
       0.62280702, 0.61946903, 0.61607143, 0.62162162, 0.61818182,
       0.6146789 , 0.61111111, 0.60747664, 0.61320755, 0.60952381,
       0.60576923, 0.61165049, 0.61764706, 0.62376238, 0.62      ,
       0.62626263, 0.63265306, 0.63917526, 0.63541667, 0.64210526,
       0.64893617, 0.65591398, 0.66304348, 0.65934066, 0.65555556,
       0.66292135, 0.67045455, 0.67816092, 0.68604651, 0.68235294,
       0.69047619, 0.68674699, 0.69512195, 0.69135802, 0.7       ,
       0.70886076, 0.70512821, 0.71428571, 0.71052632, 0.70666667,
       0.7027027 , 0.71232877, 0.70833333, 0.71830986, 0.71428571,
       0.71014493, 0.70588235, 0.70149254, 0.71212121, 0.70769231,
       0.703125  , 0.6984127 , 0.70967742, 0.70491803, 0.71666667,
       0.71186441, 0.70689655, 0.71929825, 0.73214286, 0.72727273,
       0.74074074, 0.73584906, 0.75      , 0.76470588, 0.78      ,
       0.7755102 , 0.77083333, 0.76595745, 0.76086957, 0.77777778,
       0.77272727, 0.79069767, 0.80952381, 0.82926829, 0.825     ,
       0.82051282, 0.81578947, 0.81081081, 0.80555556, 0.82857143,
       0.82352941, 0.84848485, 0.84375   , 0.83870968, 0.83333333,
       0.82758621, 0.82142857, 0.81481481, 0.80769231, 0.8       ,
       0.79166667, 0.7826087 , 0.77272727, 0.76190476, 0.75      ,
       0.73684211, 0.77777778, 0.76470588, 0.75      , 0.73333333,
       0.71428571, 0.69230769, 0.66666667, 0.72727273, 0.7       ,
       0.77777778, 0.75      , 0.71428571, 0.66666667, 0.6       ,
       0.75      , 0.66666667, 1.        , 1.        , 1.        ]), array([1.        , 0.98979592, 0.98979592, 0.97959184, 0.97959184,
       0.97959184, 0.97959184, 0.97959184, 0.96938776, 0.95918367,
       0.94897959, 0.94897959, 0.94897959, 0.94897959, 0.93877551,
       0.93877551, 0.93877551, 0.93877551, 0.93877551, 0.93877551,
       0.93877551, 0.93877551, 0.93877551, 0.93877551, 0.93877551,
       0.92857143, 0.92857143, 0.92857143, 0.92857143, 0.92857143,
       0.92857143, 0.92857143, 0.92857143, 0.92857143, 0.91836735,
       0.91836735, 0.91836735, 0.91836735, 0.90816327, 0.89795918,
       0.8877551 , 0.8877551 , 0.87755102, 0.86734694, 0.86734694,
       0.86734694, 0.86734694, 0.86734694, 0.86734694, 0.86734694,
       0.86734694, 0.86734694, 0.85714286, 0.85714286, 0.85714286,
       0.85714286, 0.85714286, 0.85714286, 0.84693878, 0.84693878,
       0.83673469, 0.83673469, 0.82653061, 0.81632653, 0.81632653,
       0.81632653, 0.80612245, 0.79591837, 0.79591837, 0.79591837,
       0.79591837, 0.78571429, 0.78571429, 0.7755102 , 0.7755102 ,
       0.7755102 , 0.76530612, 0.75510204, 0.75510204, 0.74489796,
       0.73469388, 0.7244898 , 0.7244898 , 0.7244898 , 0.7244898 ,
       0.7244898 , 0.71428571, 0.70408163, 0.70408163, 0.69387755,
       0.68367347, 0.67346939, 0.66326531, 0.66326531, 0.65306122,
       0.64285714, 0.64285714, 0.64285714, 0.64285714, 0.63265306,
       0.63265306, 0.63265306, 0.63265306, 0.62244898, 0.62244898,
       0.62244898, 0.62244898, 0.62244898, 0.6122449 , 0.60204082,
       0.60204082, 0.60204082, 0.60204082, 0.60204082, 0.59183673,
       0.59183673, 0.58163265, 0.58163265, 0.57142857, 0.57142857,
       0.57142857, 0.56122449, 0.56122449, 0.55102041, 0.54081633,
       0.53061224, 0.53061224, 0.52040816, 0.52040816, 0.51020408,
       0.5       , 0.48979592, 0.47959184, 0.47959184, 0.46938776,
       0.45918367, 0.44897959, 0.44897959, 0.43877551, 0.43877551,
       0.42857143, 0.41836735, 0.41836735, 0.41836735, 0.40816327,
       0.40816327, 0.39795918, 0.39795918, 0.39795918, 0.39795918,
       0.3877551 , 0.37755102, 0.36734694, 0.35714286, 0.35714286,
       0.34693878, 0.34693878, 0.34693878, 0.34693878, 0.33673469,
       0.32653061, 0.31632653, 0.30612245, 0.29591837, 0.29591837,
       0.28571429, 0.28571429, 0.2755102 , 0.26530612, 0.25510204,
       0.24489796, 0.23469388, 0.2244898 , 0.21428571, 0.20408163,
       0.19387755, 0.18367347, 0.17346939, 0.16326531, 0.15306122,
       0.14285714, 0.14285714, 0.13265306, 0.12244898, 0.1122449 ,
       0.10204082, 0.09183673, 0.08163265, 0.08163265, 0.07142857,
       0.07142857, 0.06122449, 0.05102041, 0.04081633, 0.03061224,
       0.03061224, 0.02040816, 0.02040816, 0.01020408, 0.        ]), array([-0.93280741, -0.92117763, -0.87513544, -0.87280516, -0.84598497,
       -0.82751629, -0.79086395, -0.72158636, -0.7213394 , -0.70760032,
       -0.68669738, -0.68283347, -0.67841868, -0.63427313, -0.63252537,
       -0.63169734, -0.63112837, -0.61119509, -0.60553887, -0.58590923,
       -0.5586165 , -0.53447507, -0.52473243, -0.5206651 , -0.5201071 ,
       -0.51839039, -0.50788373, -0.50412034, -0.45149223, -0.44871839,
       -0.44726454, -0.44620563, -0.44575017, -0.43163077, -0.42216043,
       -0.41822774, -0.41770267, -0.41458506, -0.41280063, -0.40964176,
       -0.40886267, -0.40654801, -0.40514387, -0.39381197, -0.38444594,
       -0.37960788, -0.37439578, -0.37328701, -0.36759081, -0.34231317,
       -0.32880237, -0.32745998, -0.30758275, -0.30148844, -0.27735936,
       -0.26987325, -0.26885947, -0.26350348, -0.25455858, -0.25407474,
       -0.24570063, -0.23497868, -0.23300192, -0.23197725, -0.21472637,
       -0.21462448, -0.21280478, -0.20756361, -0.20426034, -0.18514255,
       -0.17940233, -0.16944142, -0.16324691, -0.15906681, -0.15781287,
       -0.15414843, -0.15393185, -0.1516666 , -0.14250893, -0.13705845,
       -0.13567259, -0.12903307, -0.12677994, -0.12634344, -0.12529003,
       -0.12354033, -0.11960554, -0.11293551, -0.10649476, -0.10345905,
       -0.1021619 , -0.09751352, -0.09401679, -0.09391119, -0.09275408,
       -0.08908427, -0.08820278, -0.0872307 , -0.08626608, -0.07947908,
       -0.07538054, -0.07286219, -0.0718436 , -0.06393489, -0.05136182,
       -0.04837658, -0.04562185, -0.04113104, -0.04048418, -0.03736362,
       -0.0364122 , -0.02049051, -0.01614256, -0.01388557, -0.012315  ,
       -0.00860607, -0.00808547, -0.00093581,  0.00657271,  0.00769632,
        0.01714356,  0.03796863,  0.03895798,  0.06642584,  0.07193621,
        0.07645328,  0.08261651,  0.08409661,  0.09131654,  0.09661816,
        0.10439059,  0.10545512,  0.10766826,  0.10820349,  0.10989341,
        0.11660619,  0.14597589,  0.15025851,  0.1533727 ,  0.16279125,
        0.16369545,  0.16431227,  0.16930156,  0.18835408,  0.19518915,
        0.19518971,  0.19633915,  0.19834354,  0.21326175,  0.22209413,
        0.22306771,  0.22341   ,  0.22608619,  0.23086772,  0.23951136,
        0.23954752,  0.24037918,  0.24428126,  0.24991063,  0.25357862,
        0.27574972,  0.283855  ,  0.29116214,  0.29609664,  0.29878293,
        0.3056436 ,  0.32305749,  0.32443524,  0.33187384,  0.35576067,
        0.35861842,  0.40884526,  0.4136943 ,  0.42287207,  0.42323158,
        0.4249762 ,  0.44085496,  0.45319962,  0.45572078,  0.45777479,
        0.48082021,  0.49820661,  0.52182415,  0.53159851,  0.53739635,
        0.55156928,  0.55725044,  0.56437442,  0.56709946,  0.58380578,
        0.58710786,  0.6651276 ,  0.70064064,  0.7084834 ,  0.79126047,
        0.79796843,  0.83097322,  0.90026432,  0.91921911]))
(array([0.49      , 0.52903226, 0.53246753, 0.53594771, 0.53947368,
       0.53642384, 0.54      , 0.54362416, 0.5472973 , 0.55102041,
       0.55479452, 0.55862069, 0.55555556, 0.55944056, 0.56338028,
       0.56737589, 0.57142857, 0.56834532, 0.56521739, 0.56934307,
       0.56617647, 0.57037037, 0.56716418, 0.57142857, 0.57575758,
       0.58015267, 0.58461538, 0.58914729, 0.59375   , 0.59055118,
       0.58730159, 0.592     , 0.59677419, 0.60162602, 0.60655738,
       0.60330579, 0.6       , 0.59663866, 0.59322034, 0.58974359,
       0.59482759, 0.59130435, 0.5877193 , 0.5840708 , 0.58035714,
       0.57657658, 0.58181818, 0.58715596, 0.59259259, 0.58878505,
       0.58490566, 0.58095238, 0.58653846, 0.59223301, 0.58823529,
       0.59405941, 0.6       , 0.5959596 , 0.60204082, 0.59793814,
       0.59375   , 0.58947368, 0.58510638, 0.59139785, 0.59782609,
       0.59340659, 0.58888889, 0.59550562, 0.60227273, 0.59770115,
       0.59302326, 0.58823529, 0.5952381 , 0.60240964, 0.6097561 ,
       0.60493827, 0.6       , 0.60759494, 0.6025641 , 0.5974026 ,
       0.60526316, 0.61333333, 0.62162162, 0.63013699, 0.63888889,
       0.63380282, 0.64285714, 0.63768116, 0.64705882, 0.64179104,
       0.63636364, 0.63076923, 0.625     , 0.61904762, 0.62903226,
       0.63934426, 0.65      , 0.6440678 , 0.65517241, 0.64912281,
       0.64285714, 0.63636364, 0.62962963, 0.62264151, 1.        ]), array([1.        , 0.83673469, 0.83673469, 0.83673469, 0.83673469,
       0.82653061, 0.82653061, 0.82653061, 0.82653061, 0.82653061,
       0.82653061, 0.82653061, 0.81632653, 0.81632653, 0.81632653,
       0.81632653, 0.81632653, 0.80612245, 0.79591837, 0.79591837,
       0.78571429, 0.78571429, 0.7755102 , 0.7755102 , 0.7755102 ,
       0.7755102 , 0.7755102 , 0.7755102 , 0.7755102 , 0.76530612,
       0.75510204, 0.75510204, 0.75510204, 0.75510204, 0.75510204,
       0.74489796, 0.73469388, 0.7244898 , 0.71428571, 0.70408163,
       0.70408163, 0.69387755, 0.68367347, 0.67346939, 0.66326531,
       0.65306122, 0.65306122, 0.65306122, 0.65306122, 0.64285714,
       0.63265306, 0.62244898, 0.62244898, 0.62244898, 0.6122449 ,
       0.6122449 , 0.6122449 , 0.60204082, 0.60204082, 0.59183673,
       0.58163265, 0.57142857, 0.56122449, 0.56122449, 0.56122449,
       0.55102041, 0.54081633, 0.54081633, 0.54081633, 0.53061224,
       0.52040816, 0.51020408, 0.51020408, 0.51020408, 0.51020408,
       0.5       , 0.48979592, 0.48979592, 0.47959184, 0.46938776,
       0.46938776, 0.46938776, 0.46938776, 0.46938776, 0.46938776,
       0.45918367, 0.45918367, 0.44897959, 0.44897959, 0.43877551,
       0.42857143, 0.41836735, 0.40816327, 0.39795918, 0.39795918,
       0.39795918, 0.39795918, 0.3877551 , 0.3877551 , 0.37755102,
       0.36734694, 0.35714286, 0.34693878, 0.33673469, 0.        ]), array([0.        , 0.09499975, 0.1316038 , 0.160114  , 0.16620684,
       0.17927546, 0.18875477, 0.19136218, 0.19241193, 0.19580493,
       0.20543651, 0.21509213, 0.21998938, 0.22644669, 0.23316146,
       0.23335886, 0.23436161, 0.2367074 , 0.24828512, 0.25402086,
       0.26883968, 0.27620842, 0.28040923, 0.28305251, 0.28419235,
       0.28581611, 0.28733745, 0.29706208, 0.29858756, 0.30517155,
       0.30677672, 0.31099814, 0.31146897, 0.31672118, 0.3193345 ,
       0.3221156 , 0.32942831, 0.32987757, 0.33783819, 0.33805302,
       0.35624986, 0.3564577 , 0.35703847, 0.35762305, 0.36935387,
       0.37264053, 0.37455986, 0.37612463, 0.38235125, 0.40801482,
       0.41384745, 0.42943795, 0.43530254, 0.45549833, 0.47214925,
       0.48810887, 0.55182295, 0.5727559 , 0.58034908, 0.58058221,
       0.58066413, 0.58780856, 0.61432642, 0.61556496, 0.62015316,
       0.62522852, 0.62586523, 0.62949331, 0.62973433, 0.6343585 ,

In [1]:
import pandas as pd
import numpy as np
import math

In [28]:
data_salary = pd.read_csv('salary-train.csv')

In [29]:
data_salary

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
...,...,...,...,...
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040

In [30]:
data_salary_np = data_salary['FullDescription']

In [41]:
for i in range(59999):
    data_salary_lower = data_salary.loc[i,'FullDescription'].lower()

In [42]:
data_salary_lower

"this is one of the best agency side opportunities seen in a long time as you will have the opportunity to direct this agency's flaghship client  one of the uk's largest online shopping retailers  selling 53 million items annually. the perfect candidate will have 5**** years of experience and be currently at ecommerce manager or director level in a large scale, multimillion pound ecommerce retailer. you will also have management experience of circa 10 people and be particularly strong on ppc, seo, affiliates, display, dsps and dmps, product feeds, mobile and email marketing. your remit will be to ensure delivery, growth and profitable results for the client, whilst driving forward innovation in strategic thinking. it requires a combination of very proficient operational skills and sophisticated planning. in conjunction to the client you will be required to contribute to team and product development. this will include training, learning and development and career progression of our people. you will also be helping drive forward departmental improvements. this is across product evolution, team operations, planning and new business. you will need to be an inspirational figure to your team, client and agency peers that is evident in your strategy, its execution and communication. the role needs a strong collaborator and results focused individual that can balance an analytical brain with big ideas. you will be leading and ultimately responsible for one of the agencies flagship clients. it is fast paced, challenging but hugely rewarding. this requires an ecommerce expert who has proven they can deliver for the most demanding brands and ready to work on one the uk's largest retail groups. roles/responsibilities lead client business across all digital functions. this will cover; ostrategic planning of core ecommerce disciplines with a particular strength in the digital space oresponsible for operational delivery and achieving clients results oleading the client relationship directly and with the relevant media and technology partners odeveloping the clients relationship with the agency omanaging the commercial agreements and negotiations oensuring constant innovation across planning, tactics and technology manage a team (x****), their output, development and motivation drive the collaboration of the agencies performance based ecommerce disciplines be part of developing the agencies digital offering, with a specific focus on ecommerce identify new product opportunities (ex. ecrm, ux, email marketing) skills required digital expert (as per required experience) leadership both internally and externally excellent communicator to key stakeholders with clients, agencies and media owners strong team management and motivation skills proven track record in delivering results for leading brands team player and motivated individual thought leader and in tune with the cutting edge of the digital and technology industry influence skills in new product adoption and new business commercially astute and results focused experience minimum of 6 years' experience in ecommerce. 4 years in a management/leadership function. strong operator across ecommerce disciplines including; oessential  ppc, seo, affiliates, display (behavioural, retargeting, dynamic creative, engagement mapping), dsps and dmps (segmentation, lookalikes, audience profiling), product feeds, mobile, email marketing opreferable  social, analytics, ux, cro defining and delivering commerce led strategy and operations across digital and atl channels communicating strategic direction and implementation with senior stakeholders both agency and client side team management and development ability to define, sell in and execute innovation in the digital space if you have the required experience, with excellent leadership skills (internally and externally) then please apply for the ecommerce director role through this portal or feel free to contact chris shipley on n/a or chriss n/a for a confidential discussion about this or other roles we are recruiting for."

In [101]:
X_train = pd.read_csv('salary-train.csv')

In [45]:
X_train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
...,...,...,...,...
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040

In [46]:
X_test = pd.read_csv('salary-test-mini.csv')

In [47]:
X_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [48]:
d

NameError: name 'd' is not defined

In [102]:
X_train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
...,...,...,...,...
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040

In [103]:
y_train = X_train['SalaryNormalized']

In [104]:
X_train = X_train[['FullDescription','LocationNormalized','ContractTime']]

In [55]:
y_train

0        33000
1        50000
2        40000
3        22500
4        20355
         ...
59995    26400
59996    26000
59997    24500
59998    65000
59999    23040
Name: SalaryNormalized, Length: 60000, dtype: int64

In [109]:
X_train['FullDescription'] = X_train['FullDescription'].replace('[^a-zA-Z0-9]', '', regex = True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [110]:
X_train['FullDescription']

0        InternationalSalesManagerLondonkkUncappedCommi...
1        Anidealopportunityforanindividualthathasgained...
2        OnlineContentandBrandManagerLuxuryRetailUptokI...
3        AgreatlocalmarketleaderisseekingapermanentPayr...
4        RegisteredNurseRGNNursingHomeforYoungAdultsLoc...
                               ...
59995    AsaresultofcontinuedgrowthFirstClassSupplyandT...
59996    PHPMVCWebDeveloperMacclesfieldCircaperannumPHP...
59997    StaffNurseNursingHomeBaldockWhiteRecruitmentis...
59998    Thisisoneofthebestagencysideopportunitiesseeni...
59999    MusthaveCSCScardmusthaveasbestosawarenesscerti...
Name: FullDescription, Length: 60000, dtype: object

In [69]:
X_train['LocationNormalized'].fillna('nan')

0                   London
1                   London
2        South East London
3                  Dereham
4         Sutton Coldfield
               ...
59995          Whitley Bay
59996         Macclesfield
59997              Baldock
59998             The City
59999               London
Name: LocationNormalized, Length: 60000, dtype: object

In [82]:
for i in range(1000):
    print(X_train['ContractTime'][i])

permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
contract
permanent
nan
nan
permanent
permanent
permanent
contract
nan
permanent
permanent
permanent
permanent
permanent
nan
permanent
contract
permanent
nan
nan
nan
permanent
permanent
permanent
nan
contract
nan
contract
nan
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
nan
nan
nan
permanent
contract
permanent
nan
contract
permanent
permanent
permanent
nan
contract
permanent
permanent
permanent
permanent
permanent
contract
contract
permanent
permanent
permanent
contract
nan
nan
nan
nan
permanent
contract
nan
permanent
nan
contract
nan
nan
permanent
permanent
permanent
permanent
permanent
nan
nan
nan
contract
permanent
permanent
permanent
permanent
contract
permanent
contract
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
nan
nan
nan
permanent
permanent
permanent
contract
permanent
permanent
permanent
contract
permanent
contract
nan
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
nan
contract
nan
nan
nan
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
permanent
nan
permanent
permanent
nan
nan
contract
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
contract
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
nan
permanent
nan
permanent
permanent
permanent
nan
nan
permanent
contract
permanent
nan
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
nan
contract
permanent
nan
contract
permanent
permanent
permanent
nan
nan
permanent
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
nan
permanent
contract
permanent
permanent
permanent
permanent
contract
permanent
permanent
nan
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
nan
contract
permanent
nan
permanent
permanent
permanent
permanent
contract
permanent
nan
nan
permanent
permanent
permanent
nan
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
contract
nan
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
nan
contract
permanent
permanent
permanent
nan
permanent
permanent
nan
contract
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
nan
contract
permanent
contract
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
nan
permanent
permanent
contract
nan
contract
contract
permanent
permanent
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
nan
permanent
nan
nan
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
nan
nan
nan
permanent
nan
permanent
nan
permanent
contract
permanent
permanent
permanent
permanent
contract
nan
nan
nan
permanent
permanent
permanent
contract
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
contract
nan
nan
contract
permanent
contract
nan
permanent
permanent
contract
nan
permanent
contract
permanent
contract
permanent
nan
contract
nan
nan
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
nan
nan
contract
permanent
nan
contract
permanent
permanent
contract
permanent
nan
nan
contract
nan
permanent
contract
permanent
permanent
permanent
permanent
permanent
nan
permanent
contract
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
nan
permanent
contract
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
permanent
contract
contract
nan
permanent
nan
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
nan
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
contract
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
nan
permanent
contract
contract
contract
permanent
permanent
nan
nan
permanent
contract
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
nan
nan
contract
nan
permanent
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
nan
contract
nan
nan
permanent
permanent
nan
contract
contract
contract
permanent
nan
permanent
nan
contract
nan
nan
nan
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
nan
nan
nan
contract
nan
nan
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
contract
contract
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
nan
permanent
permanent
contract
permanent
nan
permanent
nan
permanent
permanent
nan
nan
permanent
contract
permanent
permanent
nan
permanent
nan
nan
nan
permanent
nan
contract
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
contract
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
contract
nan
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
permanent
nan
nan
nan
permanent
permanent
permanent

In [84]:
X_train['ContractTime'].fillna('nan', inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [85]:
for i in range(1000):
    print(X_train['ContractTime'][i])

permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
contract
permanent
nan
nan
permanent
permanent
permanent
contract
nan
permanent
permanent
permanent
permanent
permanent
nan
permanent
contract
permanent
nan
nan
nan
permanent
permanent
permanent
nan
contract
nan
contract
nan
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
nan
nan
nan
permanent
contract
permanent
nan
contract
permanent
permanent
permanent
nan
contract
permanent
permanent
permanent
permanent
permanent
contract
contract
permanent
permanent
permanent
contract
nan
nan
nan
nan
permanent
contract
nan
permanent
nan
contract
nan
nan
permanent
permanent
permanent
permanent
permanent
nan
nan
nan
contract
permanent
permanent
permanent
permanent
contract
permanent
contract
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
nan
nan
nan
permanent
permanent
permanent
contract
permanent
permanent
permanent
contract
permanent
contract
nan
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
nan
contract
nan
nan
nan
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
permanent
nan
permanent
permanent
nan
nan
contract
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
contract
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
nan
permanent
nan
permanent
permanent
permanent
nan
nan
permanent
contract
permanent
nan
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
nan
contract
permanent
nan
contract
permanent
permanent
permanent
nan
nan
permanent
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
nan
permanent
contract
permanent
permanent
permanent
permanent
contract
permanent
permanent
nan
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
nan
contract
permanent
nan
permanent
permanent
permanent
permanent
contract
permanent
nan
nan
permanent
permanent
permanent
nan
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
contract
nan
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
nan
contract
permanent
permanent
permanent
nan
permanent
permanent
nan
contract
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
nan
contract
permanent
contract
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
nan
permanent
permanent
contract
nan
contract
contract
permanent
permanent
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
nan
permanent
nan
nan
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
nan
nan
nan
permanent
nan
permanent
nan
permanent
contract
permanent
permanent
permanent
permanent
contract
nan
nan
nan
permanent
permanent
permanent
contract
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
contract
nan
nan
contract
permanent
contract
nan
permanent
permanent
contract
nan
permanent
contract
permanent
contract
permanent
nan
contract
nan
nan
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
nan
nan
contract
permanent
nan
contract
permanent
permanent
contract
permanent
nan
nan
contract
nan
permanent
contract
permanent
permanent
permanent
permanent
permanent
nan
permanent
contract
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
nan
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
nan
permanent
contract
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
contract
contract
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
permanent
contract
contract
nan
permanent
nan
permanent
permanent
permanent
nan
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
nan
permanent
contract
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
contract
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
nan
permanent
contract
contract
contract
permanent
permanent
nan
nan
permanent
contract
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
nan
permanent
permanent
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
nan
nan
contract
nan
permanent
permanent
permanent
nan
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
nan
contract
nan
nan
permanent
permanent
nan
contract
contract
contract
permanent
nan
permanent
nan
contract
nan
nan
nan
permanent
permanent
permanent
permanent
contract
permanent
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
nan
nan
nan
contract
nan
nan
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
contract
contract
permanent
permanent
permanent
permanent
permanent
nan
nan
permanent
nan
permanent
permanent
contract
permanent
nan
permanent
nan
permanent
permanent
nan
nan
permanent
contract
permanent
permanent
nan
permanent
nan
nan
nan
permanent
nan
contract
permanent
permanent
permanent
nan
nan
permanent
permanent
nan
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
contract
permanent
nan
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
nan
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
permanent
contract
contract
nan
permanent
nan
permanent
nan
permanent
permanent
contract
permanent
permanent
permanent
nan
permanent
permanent
contract
permanent
permanent
nan
nan
nan
permanent
permanent
permanent

In [159]:
X_train['LocationNormalized'].fillna('nan', inplace=True)
X_train['ContractTime'].fillna('nan', inplace=True)

In [160]:
X_train['FullDescription'] = X_train['FullDescription'].str.lower()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [161]:
X_train['FullDescription']

0        internationalsalesmanagerlondonkkuncappedcommi...
1        anidealopportunityforanindividualthathasgained...
2        onlinecontentandbrandmanagerluxuryretailuptoki...
3        agreatlocalmarketleaderisseekingapermanentpayr...
4        registerednursergnnursinghomeforyoungadultsloc...
                               ...
59995    asaresultofcontinuedgrowthfirstclasssupplyandt...
59996    phpmvcwebdevelopermacclesfieldcircaperannumphp...
59997    staffnursenursinghomebaldockwhiterecruitmentis...
59998    thisisoneofthebestagencysideopportunitiesseeni...
59999    musthavecscscardmusthaveasbestosawarenesscerti...
Name: FullDescription, Length: 60000, dtype: object

In [114]:
X_train

,FullDescription,LocationNormalized,ContractTime
0,internationalsalesmanagerlondonkkuncappedcommi...,London,permanent
1,anidealopportunityforanindividualthathasgained...,London,permanent
2,onlinecontentandbrandmanagerluxuryretailuptoki...,South East London,permanent
3,agreatlocalmarketleaderisseekingapermanentpayr...,Dereham,permanent
4,registerednursergnnursinghomeforyoungadultsloc...,Sutton Coldfield,NaN
...,...,...,...
59995,asaresultofcontinuedgrowthfirstclasssupplyandt...,Whitley Bay,contract
59996,phpmvcwebdevelopermacclesfieldcircaperannumphp...,Macclesfield,permanent
59997,staffnursenursinghomebaldockwhiterecruitmentis...,Baldock,NaN
59998,thisisoneofthebestagencysideopportunitiesseeni...,The City,permanent
59999,musthavecscscardmusthaveasbestosawarenesscerti...,London,NaN

In [116]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [162]:
TfidfVectorizer()

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [163]:
vectorizer = TfidfVectorizer(min_df=4)
X_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [164]:
X_train_vec = vectorizer.fit_transform(X_train['FullDescription'])

In [165]:
X_test_vec = vectorizer.transform(X_test['FullDescription'])

In [166]:
from sklearn.feature_extraction import DictVectorizer
enc = DictVectorizer()
X_train_categ = enc.fit_transform(X_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(X_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [167]:
print(X_train_categ)

  (0, 2)	1.0
  (0, 957)	1.0
  (1, 2)	1.0
  (1, 957)	1.0
  (2, 2)	1.0
  (2, 1392)	1.0
  (3, 2)	1.0
  (3, 471)	1.0
  (4, 1)	1.0
  (4, 1495)	1.0
  (5, 1)	1.0
  (5, 422)	1.0
  (6, 2)	1.0
  (6, 1575)	1.0
  (7, 2)	1.0
  (7, 224)	1.0
  (8, 2)	1.0
  (8, 309)	1.0
  (9, 2)	1.0
  (9, 1392)	1.0
  (10, 0)	1.0
  (10, 86)	1.0
  (11, 2)	1.0
  (11, 639)	1.0
  (12, 2)	1.0
  :	:
  (59987, 1411)	1.0
  (59988, 1)	1.0
  (59988, 335)	1.0
  (59989, 2)	1.0
  (59989, 899)	1.0
  (59990, 2)	1.0
  (59990, 44)	1.0
  (59991, 2)	1.0
  (59991, 1665)	1.0
  (59992, 0)	1.0
  (59992, 957)	1.0
  (59993, 1)	1.0
  (59993, 957)	1.0
  (59994, 1)	1.0
  (59994, 679)	1.0
  (59995, 0)	1.0
  (59995, 1691)	1.0
  (59996, 2)	1.0
  (59996, 986)	1.0
  (59997, 1)	1.0
  (59997, 78)	1.0
  (59998, 2)	1.0
  (59998, 1531)	1.0
  (59999, 1)	1.0
  (59999, 957)	1.0

In [178]:
X_test_vec
import scipy

In [179]:
X_train_f = scipy.sparse.hstack([X_train_vec, X_train_categ])

In [180]:
X_test_f = scipy.sparse.hstack([X_test_vec, X_test_categ])

In [181]:
X_test_f

<2x1767 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in COOrdinate format>

In [182]:
print(X_train_f)

  (6537, 0)	1.0
  (6810, 0)	1.0
  (43129, 0)	1.0
  (48509, 0)	1.0
  (0, 3)	1.0
  (0, 958)	1.0
  (1, 3)	1.0
  (1, 958)	1.0
  (2, 3)	1.0
  (2, 1393)	1.0
  (3, 3)	1.0
  (3, 472)	1.0
  (4, 2)	1.0
  (4, 1496)	1.0
  (5, 2)	1.0
  (5, 423)	1.0
  (6, 3)	1.0
  (6, 1576)	1.0
  (7, 3)	1.0
  (7, 225)	1.0
  (8, 3)	1.0
  (8, 310)	1.0
  (9, 3)	1.0
  (9, 1393)	1.0
  (10, 1)	1.0
  :	:
  (59987, 1412)	1.0
  (59988, 2)	1.0
  (59988, 336)	1.0
  (59989, 3)	1.0
  (59989, 900)	1.0
  (59990, 3)	1.0
  (59990, 45)	1.0
  (59991, 3)	1.0
  (59991, 1666)	1.0
  (59992, 1)	1.0
  (59992, 958)	1.0
  (59993, 2)	1.0
  (59993, 958)	1.0
  (59994, 2)	1.0
  (59994, 680)	1.0
  (59995, 1)	1.0
  (59995, 1692)	1.0
  (59996, 3)	1.0
  (59996, 987)	1.0
  (59997, 2)	1.0
  (59997, 79)	1.0
  (59998, 3)	1.0
  (59998, 1532)	1.0
  (59999, 2)	1.0
  (59999, 958)	1.0

In [183]:
from sklearn.linear_model import Ridge

In [209]:
clf = Ridge(alpha=1, fit_intercept=False, solver='lsqr',random_state=241)

In [175]:
clf()

TypeError: 'Ridge' object is not callable

In [198]:
y = X_test['SalaryNormalized']
X_test

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,We currently have a vacancy for an HR Project ...,Milton Keynes,contract,NaN
1,A Web developer opportunity has arisen with an...,Manchester,permanent,NaN

In [210]:
clf.fit(X_train_f,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=False, max_iter=None, normalize=False,
      random_state=241, solver='lsqr', tol=0.001)

In [211]:
res = clf.predict(X_test_f)

In [212]:
res

array([33438.23445686, 31509.34670717])

In [213]:
result = np.round(res, 2)

In [214]:
result

array([33438.23, 31509.35])

In [216]:
data = pd.read_csv('prices.csv')

In [217]:
data

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2015-03-12,81.559998,152.039993,80.190002,28.240000,102.419998,80.400001,107.169998,25.400000,189.949997,...,34.000000,82.089996,33.130001,107.830002,114.879997,121.239998,269.579987,48.730000,81.900002,84.220001
370,2015-03-13,80.599998,151.570007,79.230003,27.940001,101.620003,80.499997,106.440002,25.040001,189.339996,...,34.000000,81.830002,32.759998,106.720001,115.250000,118.739998,265.029999,48.840000,81.900002,83.870003
371,2015-03-16,81.500000,153.669998,79.970001,28.299999,103.129997,77.069994,107.370003,25.450001,191.899994,...,34.439999,83.559998,33.060001,108.930000,118.519997,120.070000,269.019989,49.270000,83.290001,84.760002
372,2015-03-17,81.059998,154.509995,78.449997,28.150000,103.169998,74.680001,106.959999,25.309999,190.570007,...,34.169998,82.849998,32.900002,108.750000,117.599998,119.860001,264.500000,48.950001,82.620003,84.080002
373,2015-03-18,81.860001,155.729996,81.330002,28.150000,106.699997,76.009997,107.970001,25.639999,192.320007,...,34.380001,83.750000,33.590000,109.519997,119.959999,120.309998,267.670013,49.540001,82.529999,86.070000

In [218]:
from sklearn.decomposition import PCA

In [246]:
pca = PCA(n_components=10)

In [230]:
pca(data)

TypeError: 'PCA' object is not callable

In [231]:
pca.fit(data)

ValueError: could not convert string to float: '2013-09-23'

In [307]:
data_main = data.iloc[:,1:]

In [323]:
data_main = np.array(data_main)

In [324]:
pca.fit(data_main)

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [325]:
pca.explained_variance_

array([1522.30984761,  226.75203269,  102.90079304,   59.22448474,
         45.63910225,   39.79124256,   13.90224179,   12.65051773,
          6.6043666 ,    6.29570803])

In [326]:
count = 0
sum = 0
for i in range(len(pca.explained_variance_ratio_)):
    count+=1
    value = pca.explained_variance_ratio_[i]
    sum+= value
    if sum > 0.9:
        break

In [327]:
count

4

In [328]:
pca.explained_variance_ratio_

array([0.73897118, 0.11007169, 0.04995088, 0.0287492 , 0.02215448,
       0.01931577, 0.00674853, 0.00614091, 0.00320594, 0.00305611])

In [329]:
pca.components_

array([[ 1.61383840e-02,  1.20644923e-01, -5.16612711e-02,
         5.04842369e-02, -1.25859933e-01,  1.14089567e-01,
         2.33906290e-01, -6.20513749e-03,  2.51227032e-01,
         2.88996029e-01, -2.64998795e-01,  9.31320168e-02,
         9.13948403e-02,  4.69879340e-02,  2.90549417e-02,
        -2.61068828e-02,  3.29615584e-01,  7.13897133e-02,
         7.62295699e-02,  2.11888868e-01,  2.30922941e-02,
         7.77316954e-02, -7.20594590e-03,  1.89479745e-01,
         3.21564017e-01,  5.36834873e-02,  5.79683946e-01,
         1.09122230e-04,  8.71614334e-02, -4.29421420e-02],
       [-2.33025791e-01,  1.38102207e-01, -5.64736227e-01,
        -2.94213771e-02, -2.97156167e-01, -7.00723638e-02,
        -2.41633004e-01, -2.26028350e-02, -1.05527180e-01,
         3.16032026e-02, -3.56926513e-01, -1.51980885e-01,
        -2.76101639e-01, -6.73887479e-02, -5.03438625e-02,
        -5.87043804e-02, -2.17410195e-01, -1.90769246e-01,
        -1.66275222e-01,  2.25387182e-02,  4.07006441e-02,
        -1.86523497e-02, -3.55593965e-02, -7.67098774e-02,
        -5.41168982e-02, -1.82997954e-03,  1.06387814e-01,
        -3.21923154e-02,  5.03033207e-02, -2.57983104e-01],
       [-1.05902102e-01, -4.73844545e-01, -5.37487494e-02,
         7.20638781e-03, -4.84014835e-02, -6.66524068e-02,
        -4.53663481e-02, -3.17864061e-02,  3.48308747e-01,
         1.42316297e-01, -2.06736652e-01,  1.59192377e-01,
         1.16708078e-01,  1.30026185e-02,  4.34870459e-02,
        -1.87096064e-01, -8.54676853e-02, -1.03314831e-02,
         1.51788920e-01,  2.58569260e-01, -7.07110772e-02,
         1.35307492e-01, -1.10443628e-03,  9.18773088e-02,
         7.20122232e-02, -4.33767778e-01, -3.75349831e-01,
         2.22521778e-02, -1.29157960e-02, -1.64834697e-01],
       [-3.26935606e-01,  4.45168360e-01, -2.30866221e-01,
         5.59195533e-02,  1.24083842e-01,  9.84642122e-02,
         2.19909398e-01,  2.88787430e-03, -5.18013866e-02,
         3.06423549e-01,  2.16240945e-01,  2.64952190e-02,
         4.29749373e-02, -5.55173866e-02,  4.05826204e-02,
         6.74128873e-02,  1.12391739e-01, -3.37610856e-02,
        -2.82940804e-02, -6.31182333e-03,  5.82471614e-03,
        -4.07143250e-02,  5.12738420e-02,  1.89204055e-01,
         2.97420842e-01,  2.15003670e-02, -5.10709967e-01,
         5.56078539e-02,  2.58145605e-02, -4.06763771e-02],
       [ 7.54469297e-02,  3.15744330e-01, -1.71771853e-01,
        -5.34383936e-02,  1.73983770e-01, -8.52113410e-02,
        -9.78928598e-02,  5.49169022e-02,  6.71926265e-01,
         5.24640818e-02,  3.75060283e-01, -1.02327439e-02,
        -9.82611699e-02,  1.66111949e-01,  8.71323372e-03,
        -7.42285414e-02, -1.43427401e-01, -1.53783618e-01,
        -2.22543994e-02,  3.66110125e-02,  2.53034409e-02,
         5.58239800e-03, -5.58870011e-04, -1.34825023e-01,
        -2.28640752e-01, -1.41343235e-01,  1.56346260e-01,
         5.87150459e-02, -5.33392570e-02,  7.98632515e-02],
       [-1.47876490e-01, -2.79148534e-01,  1.41677110e-02,
         1.00837325e-02, -3.50356670e-01,  9.27105118e-02,
         2.93250943e-01, -8.43948275e-02, -2.13258888e-02,
         1.57150459e-01,  4.84027000e-01,  1.19806354e-02,
        -1.68678802e-01,  6.77249635e-02, -8.73349774e-02,
        -1.42935005e-01, -1.91158848e-01,  1.57794920e-01,
        -5.34238752e-03, -9.93606856e-02,  2.57312367e-02,
        -1.91953006e-01, -7.36909908e-02, -2.73095865e-01,
         2.21092425e-01,  1.05155024e-02,  1.43472192e-01,
        -9.82542226e-02, -1.77974365e-01, -2.34524140e-01],
       [-1.79904175e-01, -3.93783971e-01, -3.11796469e-01,
         1.21399502e-01,  3.57218989e-01, -1.29995893e-01,
        -2.70408158e-01, -4.22591163e-02, -7.97415848e-02,
        -7.58775520e-02,  3.61612916e-01,  1.34030907e-01,
        -6.28214174e-02, -9.61451471e-02,  1.39887188e-02,
        -3.43615485e-02,  1.73855671e-01, -9.08539018e-02,
        -2.55875321e-02, -1.38439568e-01,  1.57178932e-02,
         1.77825277e-01,  5.65345959e-02,  1.65580555e-01,
         1.90733946e-01,  9.91722196e-02,  2.21706119e-01,
        -3.24058378e-02,  2.97353642e-01,  1.31149028e-02],
       [-2.16012970e-01, -3.11681670e-02,  1.29444567e-01,
         8.52595192e-02,  4.69640615e-01, -2.25414288e-01,
         2.03126938e-01, -3.73885939e-02,  2.48384945e-02,
         1.73045658e-03, -2.94000536e-01,  7.83957007e-02,
        -2.29095366e-01, -1.15326390e-01, -9.75751272e-02,
        -1.02531083e-01,  8.32988999e-03, -1.10948049e-01,
        -1.22794426e-01, -2.45829617e-01, -8.75585531e-02,
        -3.68124238e-01, -2.09833938e-02,  1.87063411e-02,
         8.51081684e-02, -1.93646662e-01,  1.53699905e-01,
         7.49341964e-02, -3.59774975e-01, -2.82574514e-03],
       [ 7.23895133e-02,  1.54913206e-01, -1.84295022e-01,
        -9.23228418e-02, -1.26028633e-01, -1.30846186e-01,
         1.10639130e-01, -6.07055231e-02, -9.45232861e-02,
         2.14867765e-02, -6.15531801e-02,  2.54280643e-01,
        -9.51446780e-02, -1.00918012e-01,  7.56263028e-03,
        -5.66854756e-01,  2.20845781e-01,  2.85212258e-01,
         8.61101055e-02, -2.71358753e-01, -3.42358841e-02,
         1.19462905e-01, -7.90091780e-02, -1.65713269e-01,
        -1.29312451e-01, -1.43827946e-01, -7.44805554e-02,
        -1.15317400e-01,  1.36361987e-01,  3.54565469e-01],
       [-3.71272503e-01,  2.13223385e-01,  1.87313116e-01,
         9.96880115e-02, -1.33615657e-01, -5.00838680e-02,
         1.57708253e-02,  1.67097122e-02, -2.76202559e-01,
        -7.31195849e-02,  2.11458045e-01,  1.32892377e-01,
         1.53952244e-01, -2.07606315e-01,  1.17075160e-01,
         7.16076016e-02, -8.82972483e-03, -3.43167222e-02,
         9.91355870e-02,  1.35121367e-01, -6.18361210e-02,
         1.00373249e-01,  1.03842669e-01,  4.02581413e-02,
        -2.99245134e-01, -5.09063048e-01,  2.89464533e-01,
         1.24859084e-01,  5.90903255e-02, -1.18009478e-01]])

In [330]:
f_c = pd.DataFrame(pca.transform(data_main)[:,0])

In [331]:
f_c

             0
0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
..         ...
369  81.290980
370  77.903534
371  83.798199
372  79.195789
373  82.968859

[374 rows x 1 columns]

In [332]:
data_index = pd.read_csv('djia_index.csv')

In [333]:
data_index

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
..          ...           ...
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]

In [334]:
data_index_main = data_index.iloc[:,1:]

In [335]:
data_index_main

             ^DJI
0    15401.379883
1    15334.589844
2    15273.259766
3    15328.299805
4    15258.240234
..            ...
369  17895.220703
370  17749.310547
371  17977.419922
372  17849.080078
373  18076.189453

[374 rows x 1 columns]

In [336]:
np

In [338]:

coef = np.corrcoef(f_c.T, data_index_main.T)[1,0]
print("Corrcoef %0.2f" % coef)

Corrcoef 0.91

In [275]:
data

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2015-03-12,81.559998,152.039993,80.190002,28.240000,102.419998,80.400001,107.169998,25.400000,189.949997,...,34.000000,82.089996,33.130001,107.830002,114.879997,121.239998,269.579987,48.730000,81.900002,84.220001
370,2015-03-13,80.599998,151.570007,79.230003,27.940001,101.620003,80.499997,106.440002,25.040001,189.339996,...,34.000000,81.830002,32.759998,106.720001,115.250000,118.739998,265.029999,48.840000,81.900002,83.870003
371,2015-03-16,81.500000,153.669998,79.970001,28.299999,103.129997,77.069994,107.370003,25.450001,191.899994,...,34.439999,83.559998,33.060001,108.930000,118.519997,120.070000,269.019989,49.270000,83.290001,84.760002
372,2015-03-17,81.059998,154.509995,78.449997,28.150000,103.169998,74.680001,106.959999,25.309999,190.570007,...,34.169998,82.849998,32.900002,108.750000,117.599998,119.860001,264.500000,48.950001,82.620003,84.080002
373,2015-03-18,81.860001,155.729996,81.330002,28.150000,106.699997,76.009997,107.970001,25.639999,192.320007,...,34.380001,83.750000,33.590000,109.519997,119.959999,120.309998,267.670013,49.540001,82.529999,86.070000

In [276]:
data_main

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,81.559998,152.039993,80.190002,28.240000,102.419998,80.400001,107.169998,25.400000,189.949997,116.099998,...,34.000000,82.089996,33.130001,107.830002,114.879997,121.239998,269.579987,48.730000,81.900002,84.220001
370,80.599998,151.570007,79.230003,27.940001,101.620003,80.499997,106.440002,25.040001,189.339996,114.820000,...,34.000000,81.830002,32.759998,106.720001,115.250000,118.739998,265.029999,48.840000,81.900002,83.870003
371,81.500000,153.669998,79.970001,28.299999,103.129997,77.069994,107.370003,25.450001,191.899994,116.500000,...,34.439999,83.559998,33.060001,108.930000,118.519997,120.070000,269.019989,49.270000,83.290001,84.760002
372,81.059998,154.509995,78.449997,28.150000,103.169998,74.680001,106.959999,25.309999,190.570007,115.580002,...,34.169998,82.849998,32.900002,108.750000,117.599998,119.860001,264.500000,48.950001,82.620003,84.080002
373,81.860001,155.729996,81.330002,28.150000,106.699997,76.009997,107.970001,25.639999,192.320007,116.080002,...,34.380001,83.750000,33.590000,109.519997,119.959999,120.309998,267.670013,49.540001,82.529999,86.070000

In [277]:
f_c

             0
0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
..         ...
369  81.290980
370  77.903534
371  83.798199
372  79.195789
373  82.968859

[374 rows x 1 columns]

In [278]:
f_c.max()

0    88.953955
dtype: float64

In [281]:
a = 0 
for i in pd.DataFrame(f_c):
    if f_c[i]>a:
        a = f_c[i]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [284]:
pca.components_[0]

array([ 1.61383840e-02,  1.20644923e-01, -5.16612711e-02,  5.04842369e-02,
       -1.25859933e-01,  1.14089567e-01,  2.33906290e-01, -6.20513749e-03,
        2.51227032e-01,  2.88996029e-01, -2.64998795e-01,  9.31320168e-02,
        9.13948403e-02,  4.69879340e-02,  2.90549417e-02, -2.61068828e-02,
        3.29615584e-01,  7.13897133e-02,  7.62295699e-02,  2.11888868e-01,
        2.30922941e-02,  7.77316954e-02, -7.20594590e-03,  1.89479745e-01,
        3.21564017e-01,  5.36834873e-02,  5.79683946e-01,  1.09122230e-04,
        8.71614334e-02, -4.29421420e-02])

In [287]:
f_c1 = pd.DataFrame(pca.components_[0])

In [288]:
f_c1 == f_c

ValueError: Can only compare identically-labeled DataFrame objects

In [290]:
f_c

             0
0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
..         ...
369  81.290980
370  77.903534
371  83.798199
372  79.195789
373  82.968859

[374 rows x 1 columns]

In [295]:
df = pd.DataFrame(pca.components_[0])

In [296]:
df

           0
0   0.016138
1   0.120645
2  -0.051661
3   0.050484
4  -0.125860
5   0.114090
6   0.233906
7  -0.006205
8   0.251227
9   0.288996
10 -0.264999
11  0.093132
12  0.091395
13  0.046988
14  0.029055
15 -0.026107
16  0.329616
17  0.071390
18  0.076230
19  0.211889
20  0.023092
21  0.077732
22 -0.007206
23  0.189480
24  0.321564
25  0.053683
26  0.579684
27  0.000109
28  0.087161
29 -0.042942

In [297]:
df.max()

0    0.579684
dtype: float64

In [299]:
df

           0
0   0.016138
1   0.120645
2  -0.051661
3   0.050484
4  -0.125860
5   0.114090
6   0.233906
7  -0.006205
8   0.251227
9   0.288996
10 -0.264999
11  0.093132
12  0.091395
13  0.046988
14  0.029055
15 -0.026107
16  0.329616
17  0.071390
18  0.076230
19  0.211889
20  0.023092
21  0.077732
22 -0.007206
23  0.189480
24  0.321564
25  0.053683
26  0.579684
27  0.000109
28  0.087161
29 -0.042942

In [302]:
df.values

array([[ 1.61383840e-02],
       [ 1.20644923e-01],
       [-5.16612711e-02],
       [ 5.04842369e-02],
       [-1.25859933e-01],
       [ 1.14089567e-01],
       [ 2.33906290e-01],
       [-6.20513749e-03],
       [ 2.51227032e-01],
       [ 2.88996029e-01],
       [-2.64998795e-01],
       [ 9.31320168e-02],
       [ 9.13948403e-02],
       [ 4.69879340e-02],
       [ 2.90549417e-02],
       [-2.61068828e-02],
       [ 3.29615584e-01],
       [ 7.13897133e-02],
       [ 7.62295699e-02],
       [ 2.11888868e-01],
       [ 2.30922941e-02],
       [ 7.77316954e-02],
       [-7.20594590e-03],
       [ 1.89479745e-01],
       [ 3.21564017e-01],
       [ 5.36834873e-02],
       [ 5.79683946e-01],
       [ 1.09122230e-04],
       [ 8.71614334e-02],
       [-4.29421420e-02]])

In [305]:
data_main.columns[26]

'V'

In [306]:
indx = -1
value = -1
for i in range(len(pca.components_[0])):
    if value < pca.components_[0][i]:
        value = pca.components_[0][i]
        indx = i
print("Company name: '%s' weight: %0.2f" % (data_main.columns[indx], value))

Company name: 'V' weight: 0.58

In [339]:
pd

In [340]:
data = pd.read_csv('abalone.csv')

In [341]:
data

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [342]:
data['Sex'] = data['Sex'].map(lambda x:1 if x=='M'else(-1 if x=='F' else 0))

In [343]:
data

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [391]:
X, y = data.iloc[:,:8], data.iloc[:,8:]

In [392]:
X

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [347]:
import sklearn.ensemble.RandomForestRegressor

ModuleNotFoundError: No module named 'sklearn.ensemble.RandomForestRegressor'

In [393]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [394]:
clf = RandomForestRegressor(random_state=1)

In [395]:
from sklearn.model_selection import KFold, cross_val_score

In [396]:
kf = KFold(n_splits=5, shuffle=True, random_state=1)

In [397]:
kf

KFold(n_splits=5, random_state=1, shuffle=True)

In [376]:
def r2_scorer(estimator, X, y):
    predictions = estimator.predict(X)
    return r2_score(y, predictions)

In [414]:
scores = []
for i in range(1,51):
    clf = RandomForestRegressor(random_state=1, n_estimators=i)
    clf.fit(X,y)
    score = cross_val_score(clf, X, y = y, cv = kf, scoring=lambda clf, X, y: r2_score(y, clf.predict(X))).mean()
    scores.append(score)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

In [417]:
for i in enumerate(scores):
    print(np.around(i,4))

[0.     0.1097]
[1.     0.3413]
[2.     0.4064]
[3.     0.4448]
[4.    0.465]
[5.     0.4714]
[6.     0.4767]
[7.     0.4829]
[8.     0.4894]
[9.     0.4954]
[10.      0.4944]
[11.     0.499]
[12.      0.5031]
[13.      0.5073]
[14.      0.5092]
[15.      0.5114]
[16.      0.5149]
[17.      0.5172]
[18.      0.5198]
[19.      0.5195]
[20.      0.5205]
[21.      0.5208]
[22.      0.5217]
[23.      0.5231]
[24.      0.5232]
[25.      0.5243]
[26.      0.5246]
[27.      0.5257]
[28.      0.5266]
[29.      0.5271]
[30.      0.5276]
[31.      0.5289]
[32.      0.5301]
[33.    0.53]
[34.      0.5298]
[35.      0.5299]
[36.      0.5294]
[37.      0.5295]
[38.      0.5295]
[39.      0.5295]
[40.      0.5298]
[41.    0.53]
[42.      0.5299]
[43.      0.5297]
[44.      0.5289]
[45.     0.529]
[46.      0.5292]
[47.      0.5301]
[48.      0.5308]
[49.     0.531]